@import '_variables';
@import '_mixin';

.cards {
    .cards__item {
        width: 317px;
        height: 370px;
        background: $white;
        border: 1px solid $borderWhite;
        position: relative;
        margin: 40px auto ;
        padding: 170px 20px 20px 20px;
        border-radius: 5px;

        .cards__item-back, .cards__item-back02, .cards__item-back03 {
            position: absolute;
        }

        .cards__item-back {
            top: 38px;
            @include set-background($secondaryColor);
            width: 90px;
            height: 90px;
            border-radius: 40px;
            top: 20px;
            right: 40px;
            transform: rotate(45deg);  
        }

        .cards__item-back02 {
            width: 130px;
            height: 130px;
            @include set-background($primaryColor);
            border-radius: 50%;
            top: 12px;
            left: 90px;
        }

        .cards__item-back03 {
            width: 100%;
            height: 195px;
            @include set-background($thirdColor);
            bottom: -80px;
            left: 0;
            border: 1px solid #E8E9ED;
            border-radius: 5px;
        }

        .cards__item-image, .cards__item-image02, .cards__item-image03 {
            position: absolute;
            width: 190px;
            top: 35px;
            right: 55px;
        }

        .cards__item-image02 {
            top: 20px;
            width: 170px;
        }

        .cards__item-image03 {
            width: 290px;
            top: 280px;
            left: 0;
        }

        .cards__item__datas {
            .cards__item__datas-title {
                font-size: 30px;
                font-weight: 400;
                line-height: 35px;
                margin-bottom: 20px;
            }

            .cards__item__datas-description {
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
            }

            .cards__item__datas-span {
                display: none;
            }
        }
    }

    .cards__item:last-child {
        padding-top: 30px;
    }
}

@media (min-width: 400px) {
    .cards {
        .cards__item {
            width: 1124px;
            display: flex;
            align-items: center;
            padding: 90px 35px;

            .cards__item-back {
                width: 180px;
                height: 180px;
                top: 40px;
                right: 70px;
            }
    
            .cards__item-back02 {
                width: 320px;
                height: 320px;            
            }
    
            .cards__item-back03 {
                width: 33.7vw;
                height: 100%;
                bottom: 0;
                left: 51vw;
            }

            .cards__item-image {
                width: 390px;
                top: 113px;
                right: 117px;
            }
    
            .cards__item-image02 {
                top: 30px;
                left: 70px;
                width: 426px;
            }
    
            .cards__item-image03 {
                width: 265px;
                top: 100px;
                left: 55vw;
            }

            .cards__item__datas {
                width: 416px;
                height: 168px;

                .cards__item__datas-title {
                    font-size: 36px;
                    line-height: 42px;
                }

                .cards__item__datas-description {
                    font-size: 16px;
                    line-height: 22px;
                }

                .cards__item__datas-span, .cards__item__datas-span02, .cards__item__datas-span03 {
                    display: block;
                    margin-top: 50px;
                    width: 327px;
                    height: 4px;
                    @include set-background($secondaryColor);
                }

                .cards__item__datas-span02 {
                    @include set-background($primaryColor);
                }

                .cards__item__datas-span03 {
                    @include set-background($thirdColor);
                }
            }
        }

        .cards__item:nth-child(2) {
            justify-content: flex-end;

            .cards__item__datas {
                .cards__item__datas-title {
                    width: 250px;
                }
            }
        }

        .cards__item:last-child {
            width: 620px;
            right: 16.5vw;
        }
    }
}