.footer {
    margin-top: 5vh;
    width: 100vw;
    height: 89px;
    box-shadow: 0px -5px 40px 0px #00000033;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;

    .footer__logo{
        .footer_logo-logo {
            color: $primaryColor;
            font-size: 26px;
            font-weight: 300;
            line-height: 30px;
        }
    
        .footer__logo-copyright {
            color: $grey;
            font-size: 11px;
            line-height: 15px;
        }
    }

    .footer__socials {
        display: flex;
        gap: 10px;

        img {
            transition: all .5s;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}