@use '_variables.scss';
@use '_mixin.scss';

.hero {
    text-align: center;
    margin-top: 25vh;

    .hero__title {
        font-size: 35px;
        line-height: 41px;
    }

    .hero__description {
        width: 60vw;
        text-align: center;
        margin: 20px auto;
        font-family: $font-openSans;
        font-size: 16px;
    }

    .hero__button {
        width: 310px;
        height: 67px;
        background: $primaryColor;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        border-radius: 48px;
        border: none;
        color: $white;
        margin-top: 20px; 
        font-weight: 700; 

        &:hover {
            cursor: pointer;
        }
    }

    .hero__image__container {
        width: 100%;
        overflow: hidden;
    }

    .hero__image {
        margin-top: 10vh;
        width: 200%;
        margin-left: -45vw;
    }
}

@media (min-width: 400px) {

}

@media (min-width: 840px) {
    .hero {
        .hero__title {
            font-size: 49px;
            line-height: 57px;  
        }

        .hero__image {
            width: 100%;
            margin-left: 0px;
        }
        
    }
}