@mixin set-background($color) {
    background: $color;
}

@mixin set-border($size, $color) {
    border: $size solid $color;
}

@mixin set-color($color) {
    color: $color;
}

@mixin font($size, $weight, $color, $height) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $height;
}