@use '_variables.scss';
@use '_mixin.scss';

.pricing {
    .pricing__title {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        margin-top: 20px;
    }

    .pricing__exchange {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        .pricing__exchange-select {
            width: 100px;
            padding: 12px 16px;
            background: $primaryColor;
            border: 1px solid $white;
            color: $white;
            box-shadow: 0 0 5px $black;
        }
    }

    .pricing__cards__item {
        width: 293px;
        height: 275px;
        @include set-border(1px, $secondaryColor);
        border-radius: 18px;
        margin: 80px auto;
        position: relative;
        transition: all 1s;
        cursor: pointer;

        .pricing__cards__item__price {
            position: absolute;
            top: 80px;
            left: 50px;
            text-align: center;

            .pricing__cards__item__price-plan {
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                color: $primaryColorDark;
            }

            .pricing__cards__item__price-number {
                font-family: $font-openSans; 
                font-size: 46px;
                line-height: 64px;
                font-weight: 300;
                @include set-color($secondaryColor);
            }

            .pricing__cards__item__price-extra {
                font-size: 12px;
                font-weight: 700;
                line-height: 14px;
            }
        }

        .pricing__cards__item__info {
            position: absolute;
            top: 30px;
            right: 10px;
            
            .pricing__cards__item__info__list {
                .pricing__cards__item__info__list-item {
                    font-family: $font-openSans; 
                    font-size: 14px;
                    line-height: 19px;
                    margin-bottom: 20px;
                    list-style-position: inside;
                }

                .pricing__cards__item__info__list-item.pricing__cards__item__info__list-item--include {
                    list-style-image: url(../assets/Checkbox.png);
                }

                .pricing__cards__item__info__list-item.pricing__cards__item__info__list-item--nonInclude {
                    list-style-image: url(../assets/Cross.png);
                }
            }
        }

        .pricing__cards__item__button {
            position: absolute;
            bottom: -25px;
            @include set-background($secondaryColor);
            @include set-color($white);
            width: 150px;
            height: 50px;
            border-radius: 23px;
            border: none;
            z-index: 3;
            left: 50%;
            transform: translate(-50%);
            font-weight: 700;

            &:hover {
                cursor: pointer;
            }
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 5px 10px 27px 0px $secondaryColor;
        }
    }

    .pricing__cards__item--primaryColor {
        @include set-border(1px, $primaryColor);

        .pricing__cards__item__price {
            left: 20px;

            .pricing__cards__item__price-number {
                @include set-color($primaryColor);
            }
        }

        .pricing__cards__item__button {
            @include set-background($primaryColor);
        }

        &:hover {
            box-shadow: 5px 10px 27px 0px $primaryColor;
        }
    }

    .pricing__cards__item--thirdColor {
        @include set-border(1px, $thirdColor);

        .pricing__cards__item__price {
            left: 30px;

            .pricing__cards__item__price-number {
                @include set-color($thirdColor);
            }
        }

        .pricing__cards__item__button {
            @include set-background($thirdColor);
        }

        &:hover {
            box-shadow: 5px 10px 27px 0px $thirdColor;
        }
    }
}


@media (min-width: 400px) {
    .pricing {
        margin-bottom: 15vh;

        .pricing__cards {
            .pricing__cards__item {
                width: 60vw;

                .pricing__cards__item__price {
                    left: 25%;
                    transform: translate(-50%);
                }
            }

            .pricing__cards__item__info {
                transform: translate(-50%);
            }
        }
    }
}

@media (min-width: 840px) {
    .pricing {
        .pricing__cards {
            margin: 20px 9vw;
            display: flex;
            justify-content: center;
            align-items: center;

            .pricing__cards__item {
                width: 24vw;
                height: 55vh;

                .pricing__cards__item__price {
                    top: 40px;
                    left: 50%;
                    transform: translate(-50%);
                    text-align: center;
                }
            }

            .pricing__cards__item__info {
                top: 220px;
                left: 50%;
                transform: translate(-50%);
                
                .pricing__cards__item__info__list {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

}