$primaryColor: #08A6E4;
$primaryColorDark: #13253B;
$black: #111;
$grey: #A5A5A5;
$white: #fff;
$borderWhite: #E8E9ED;
$secondaryColor: #FB3B64;
$thirdColor: #55DFB4;

$font-raleway: "Raleway", serif;
$font-openSans: "Open Sans", sans-serif;