header {
  padding: 1rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 5;
}
header .header__title {
  color: #08A6E4;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
}
header .header__hamburguer {
  position: absolute;
  right: 30px;
  top: 30px;
}
header .header__hamburguer span {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 8px;
  background: #08A6E4;
  margin-bottom: 3px;
}
header .header__nav {
  display: none;
}

@media (min-width: 400px) {
  header .header__title {
    margin-left: 100px;
  }
  header .header__hamburguer span {
    display: none;
  }
  header .header__nav {
    display: block;
    position: absolute;
    right: 110px;
    top: 30px;
  }
  header .header__nav .header__menu {
    display: inline-flex;
    gap: 40px;
  }
  header .header__nav .header__menu .header__menu-item.header__menu-item--active {
    display: block;
    border-bottom: 4px solid #08A6E4;
    height: 40px;
    width: 80px;
    text-align: center;
  }
  header .header__nav .header__menu a {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    color: #A5A5A5;
  }
  header .header__nav .header__menu .header__menu-item.header__menu-item--active a {
    color: #111;
  }
}
.hero {
  text-align: center;
  margin-top: 170px;
}
.hero .hero__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
}
.hero .hero__description {
  width: 308px;
  text-align: center;
  margin: 20px auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.hero .hero__button {
  width: 310px;
  height: 67px;
  background: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border-radius: 48px;
  border: none;
  color: #fff;
  margin-top: 20px;
}
.hero .hero__button:hover {
  cursor: pointer;
}
.hero .hero__image {
  margin-top: 50px;
  width: 779px;
  margin-left: -180px;
}

@media (min-width: 400px) {
  .hero .hero__title {
    font-size: 49px;
    line-height: 57px;
  }
  .hero .hero__image {
    width: 100%;
    margin-left: 0px;
  }
}
.popular {
  margin-bottom: 100px;
}
.popular .popular__title {
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.popular .popular__datas .popular__datas-item {
  width: 120px;
  margin: 25px auto;
  text-align: center;
}
.popular .popular__datas .popular__datas-item .popular__datas-icon {
  position: relative;
}
.popular .popular__datas .popular__datas-item .popular__datas-icon .popular__datas-icon-back, .popular .popular__datas .popular__datas-item .popular__datas-icon .popular__datas-icon-back02, .popular .popular__datas .popular__datas-item .popular__datas-icon .popular__datas-icon-back03 {
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #FB3B64;
  left: 20px;
  top: 0;
}
.popular .popular__datas .popular__datas-item .popular__datas-icon .popular__datas-icon-back02 {
  background: #08A6E4;
}
.popular .popular__datas .popular__datas-item .popular__datas-icon .popular__datas-icon-back03 {
  background: #55DFB4;
}
.popular .popular__datas .popular__datas-item .popular__datas-icon .popular__datas-icon-image, .popular .popular__datas .popular__datas-item .popular__datas-icon .popular__datas-icon-image02, .popular .popular__datas .popular__datas-item .popular__datas-icon .popular__datas-icon-image03 {
  position: absolute;
  z-index: 2;
}
.popular .popular__datas .popular__datas-item .popular__datas-icon .popular__datas-icon-image {
  width: 44px;
  right: 20px;
}
.popular .popular__datas .popular__datas-item .popular__datas-icon .popular__datas-icon-image02, .popular .popular__datas .popular__datas-item .popular__datas-icon .popular__datas-icon-image03 {
  width: 60px;
  right: 20px;
  top: 10px;
}
.popular .popular__datas .popular__datas-item .popular__datas-icon .popular__datas-icon-image03 {
  width: 44px;
}
.popular .popular__datas .popular__datas-item .popular__datas-number {
  padding-top: 80px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 6px;
}
.popular .popular__datas .popular__datas-item .popular__datas-description {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #A5A5A5;
  padding-top: 19px;
}

@media (min-width: 400px) {
  .popular .popular__title {
    width: 716px;
  }
  .popular .popular__datas {
    display: flex;
    margin: 100px 25vw;
    gap: 180px;
  }
  .popular .popular__datas .popular__datas-icon .popular__datas-icon-image03 {
    right: 10px;
  }
}
.cards .cards__item {
  width: 317px;
  height: 370px;
  background: #fff;
  border: 1px solid #E8E9ED;
  position: relative;
  margin: 40px auto;
  padding: 170px 20px 20px 20px;
  border-radius: 5px;
}
.cards .cards__item .cards__item-back, .cards .cards__item .cards__item-back02, .cards .cards__item .cards__item-back03 {
  position: absolute;
}
.cards .cards__item .cards__item-back {
  top: 38px;
  background: #FB3B64;
  width: 90px;
  height: 90px;
  border-radius: 40px;
  top: 20px;
  right: 40px;
  transform: rotate(45deg);
}
.cards .cards__item .cards__item-back02 {
  width: 130px;
  height: 130px;
  background: #08A6E4;
  border-radius: 50%;
  top: 12px;
  left: 90px;
}
.cards .cards__item .cards__item-back03 {
  width: 100%;
  height: 195px;
  background: #55DFB4;
  bottom: -80px;
  left: 0;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}
.cards .cards__item .cards__item-image, .cards .cards__item .cards__item-image02, .cards .cards__item .cards__item-image03 {
  position: absolute;
  width: 190px;
  top: 35px;
  right: 55px;
}
.cards .cards__item .cards__item-image02 {
  top: 20px;
  width: 170px;
}
.cards .cards__item .cards__item-image03 {
  width: 290px;
  top: 280px;
  left: 0;
}
.cards .cards__item .cards__item__datas .cards__item__datas-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 20px;
}
.cards .cards__item .cards__item__datas .cards__item__datas-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.cards .cards__item .cards__item__datas .cards__item__datas-span {
  display: none;
}
.cards .cards__item:last-child {
  padding-top: 30px;
}

@media (min-width: 400px) {
  .cards .cards__item {
    width: 1124px;
    display: flex;
    align-items: center;
    padding: 90px 35px;
  }
  .cards .cards__item .cards__item-back {
    width: 180px;
    height: 180px;
    top: 40px;
    right: 70px;
  }
  .cards .cards__item .cards__item-back02 {
    width: 320px;
    height: 320px;
  }
  .cards .cards__item .cards__item-back03 {
    width: 33.7vw;
    height: 100%;
    bottom: 0;
    left: 51vw;
  }
  .cards .cards__item .cards__item-image {
    width: 390px;
    top: 113px;
    right: 117px;
  }
  .cards .cards__item .cards__item-image02 {
    top: 30px;
    left: 70px;
    width: 426px;
  }
  .cards .cards__item .cards__item-image03 {
    width: 265px;
    top: 100px;
    left: 55vw;
  }
  .cards .cards__item .cards__item__datas {
    width: 416px;
    height: 168px;
  }
  .cards .cards__item .cards__item__datas .cards__item__datas-title {
    font-size: 36px;
    line-height: 42px;
  }
  .cards .cards__item .cards__item__datas .cards__item__datas-description {
    font-size: 16px;
    line-height: 22px;
  }
  .cards .cards__item .cards__item__datas .cards__item__datas-span, .cards .cards__item .cards__item__datas .cards__item__datas-span02, .cards .cards__item .cards__item__datas .cards__item__datas-span03 {
    display: block;
    margin-top: 50px;
    width: 327px;
    height: 4px;
    background: #FB3B64;
  }
  .cards .cards__item .cards__item__datas .cards__item__datas-span02 {
    background: #08A6E4;
  }
  .cards .cards__item .cards__item__datas .cards__item__datas-span03 {
    background: #55DFB4;
  }
  .cards .cards__item:nth-child(2) {
    justify-content: flex-end;
  }
  .cards .cards__item:nth-child(2) .cards__item__datas .cards__item__datas-title {
    width: 250px;
  }
  .cards .cards__item:last-child {
    width: 620px;
    right: 16.5vw;
  }
}
.pricing {
  padding-top: 120px;
}
.pricing h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  margin-bottom: -60px;
}
.pricing .pricingCard {
  width: 293px;
  height: 275px;
  border: 1px solid #FB3B64;
  border-radius: 18px;
  margin: 80px auto;
  position: relative;
}
.pricing .pricingCard .price {
  position: absolute;
  top: 80px;
  left: 50px;
  text-align: center;
}
.pricing .pricingCard .price h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #13253B;
}
.pricing .pricingCard .price p {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  line-height: 64px;
  font-weight: 300;
  color: #FB3B64;
}
.pricing .pricingCard .price span {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}
.pricing .pricingCard .pricingInfo {
  position: absolute;
  top: 30px;
  right: 10px;
}
.pricing .pricingCard .pricingInfo ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 20px;
}
.pricing .pricingCard .pricingInfo ul li.include {
  list-style-image: url(../assets/Checkbox.png);
}
.pricing .pricingCard .pricingInfo ul li.nonInclude {
  list-style-image: url(../assets/Cross.png);
}
.pricing .pricingCard button {
  position: absolute;
  bottom: -25px;
  background: #FB3B64;
  color: #fff;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  border: none;
  z-index: 3;
  left: 50%;
  transform: translate(-50%);
}
.pricing .pricingCard:nth-child(2) {
  border: 1px solid #08A6E4;
  transform: scale(1.1);
  box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.2901960784);
}
.pricing .pricingCard:nth-child(2) .price {
  left: 20px;
}
.pricing .pricingCard:nth-child(2) .price p {
  color: #08A6E4;
}
.pricing .pricingCard:nth-child(2) button {
  background: #08A6E4;
  box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.2901960784);
}
.pricing .pricingCard:nth-child(3) {
  border: 1px solid #55DFB4;
}
.pricing .pricingCard:nth-child(3) .price {
  left: 30px;
}
.pricing .pricingCard:nth-child(3) .price p {
  color: #55DFB4;
}
.pricing .pricingCard:nth-child(3) button {
  background: #55DFB4;
}

@media (min-width: 400px) {
  .pricing .pricingCards {
    margin: 20px 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pricing .pricingCards .pricingCard {
    width: 24vw;
    height: 65vh;
  }
  .pricing .pricingCards .pricingCard .price {
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }
  .pricing .pricingCards .pricingInfo {
    top: 160px;
    left: 50%;
    transform: translate(-50%);
  }
  .pricing .pricingCards .pricingInfo ul {
    text-align: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", serif;
  min-width: 320px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
