@import '_variables.scss';
@import '_header.scss';
@import '_hero.scss';
@import '_popular.scss';
@import '_cards.scss';
@import '_pricing.scss';
@import '_form.scss';
@import '_footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-raleway;
    min-width: 320px;
    font-weight: 400;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.toTopButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4vh;
    right: -6vw;
    width: 4rem;
    height: 4rem;
    background: $white;
    border: none;
    border: 1px solid $grey;
    border-radius: 50%;
    box-shadow: 0 0 8px 1px $black;
    opacity: .6;
    transition: all .5s;
    z-index: 20;

    img {
        position: relative;
        bottom: 1px;
        width: 50%;
        height: 50%;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 0 0 10px 1px $black;
        opacity: 1;
    }
}

.toTopButton.active {
    right: 2vw;
}


@media (max-width: 440px) {
    .toTopButton {
        display: none;
    }
}

.scroller {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: .6vh;
    background: $primaryColor;
    z-index: 14;
    border-radius: 5px;
}