@import '_variables.scss';
@import '_header.scss';
@import '_hero.scss';
@import '_popular.scss';
@import '_cards.scss';
@import '_pricing.scss';
@import '_form.scss';
@import '_footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-raleway;
    min-width: 320px;
    font-weight: 400;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}
